/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* PADRÃO GERAL */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header-bg {
    background-color: #000;
}

.header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-menu a {
    padding: 16px 20px;
    color: #fff;
    display: inline-block;
    font-size: 1.125rem;
    position: relative;
}

.header-menu a:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #fff;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover:after {
    width: 70%;
}

@media (max-width:800px) {
    .header-menu {
        gap: 20px;
    }

    .header a {
        background: #111;
        border-radius: 5px;
    }

    .header-menu a:hover {
        background: #2e2e2e;
    }

    .header a:after {
        display: none;
    }
}

@media (max-width:600px) {

    .header {
        display: block;
        text-align: center;
    }

    .header-menu {
        display: block;
    }

    .header-menu a {
        padding: 16px 100px;
    }

    .header-menu li {
        margin-top: 20px;
    }

    .header a:after {
        display: none;
    }

}